.orderinfo button {
  background-color: #087bff;
  padding: 0.5rem 1rem;
  border: none;
  color: #fafafa;
  border-radius: 4px;
  cursor: pointer;
}

.orderinfo {
  background-color: #333;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: small;
  text-align: left;
  width: 400px;
  border-radius: 4px;
}

@media print {
  .print {
    background-color: white;
    color: #000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 16px;
    font-size: 14px;
    line-height: 16px;
  }
  .orderinfo {
    color: #333;
    padding: 16px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    background-color: #ffffff;
  }
  button, .grid, .expand, .top {
    display: none;
  }
}