.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.tabl {
  background-color: #e0e0e0;
  padding: 0.5rem;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: center;
}

@media print {
  header {
    display: none;
  }
  button {
    display: none;
  }
  .expand {
    display: none;
  }
}