html, body {
  /* height: 100%; */
  width: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@media print {
  @page {
    /* size: A5 portrait; */
    margin: 5mm;
    color: #333;
  }

  .print {
    width: 100mm;
  }

  .header {
    display: none;
  }

  button {
    display: none;
  }

  .expand {
    display: none;
  }
}