.top ul {
  list-style: none;
  float: right;
  display: flex;
}

.top {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

li {
  display: flex;
  color: #fafafa;
  background-color: #087bff;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  margin: 2px 2px;
  cursor: pointer;
}

input {
  height: 32px;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
}