.container {
  background-color: #e0e0e0;
  margin: 0rem 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  height: 24px;
  border: none;
  padding: 0.5rem;
  margin-bottom: 4px;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 180px 200px 100px;
}

p {
  margin: 4px 4px;
}

button {
  cursor: pointer;
  background-color: #087bff;
  color: #fafafa;
  padding: 0.5rem 0.5rem;
  border: none;
  margin: 0.35rem 0rem 0rem 0rem;
  border-radius: 4px;
}

@media print {
  .container {
    display: none;
  }
}
